**Step one:** collect data using web scraping and API.

Identified the website with the data that about the population of the cities where Gans is active in order to see how many people are on target with the company, and then collected data for Barcelona, Paris, and Berlin.

The most popular and available [website](https://ugeo.urbistat.com/AdminStat/en/es/demografia/eta/barcelona/8/3).

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = "https://ugeo.urbistat.com/AdminStat/en/es/demografia/eta/barcelona/8/3"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

I selected the div and the classes to be sure to get only these pieces of information.

In [ ]:
# Find the HTML table with the class "table_result_light" and store it in 'table'
table = soup.select_one("table.table_result_light")

age_range = []

for i in range(len(table.select('td.table_label'))):
    # Append the text content of each td element to the 'age_range' list
    age_range.append(table.select('td.table_label')[i].get_text())

# Create a DataFrame from the 'age_range' list with column name 'age_range'
age_range = pd.DataFrame({"age_range": age_range})

# Clean the 'age_range' column by removing unwanted characters using regex
age_range.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
                  value = ["",""],
                  regex=True,
                  inplace=True)
values=[]

for i in range(len(table.select("td"))):
    values.append(table.select("td")[i].get_text())

# Create a DataFrame from the 'values' list with column name 'value'
values = pd.DataFrame({"value":values})

# Clean the 'value' column by removing unwanted characters using regex
values.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
               value=["",""],
               regex=True,
               inplace=True)

# Further clean the 'value' column by removing commas and empty values
values.replace(to_replace=[",", ""],
               value=["",""],
               regex=True,
               inplace=True)

# Extract specific rows from the 'values' DataFrame to get total population data
# value = the number of people for each specific range
tot_pop = values.loc[[9,16,23,30,37,44,51,58,65,72,79]]

# Add a new column 'perc' to 'tot_pop' DataFrame with corresponding values
# perc = the percentage in relation to the total population,
tot_pop['perc'] = [2,3,6,6,7,12,16,16,12,10,9]

# Add a new column 'city' to 'tot_pop' DataFrame with the value 'barcelona'
tot_pop['city']='barcelona'

# Reset the index of 'tot_pop' DataFrame and drop the old index
tot_pop = tot_pop.reset_index()
tot_pop = tot_pop.drop('index', axis = 1)

# Combine 'age_range' and 'tot_pop' DataFrames with an inner join on common keys
population_barcelona = age_range.join(tot_pop, how="inner")

# Add a new column 'city_iso' to 'population_barcelona' DataFrame with the value 'barcelona_ES'
population_barcelona['city_iso'] = 'barcelona_ES'

In [ ]:
population_barcelona.head()

Then repeat the process for Paris

In [ ]:
url = "https://ugeo.urbistat.com/AdminStat/en/fr/demografia/eta/paris/75/3"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
# Find the HTML table with the class "table_result_light" and store it in 'table'
table = soup.select_one("table.table_result_light")

age_range = []

for i in range(len(table.select('td.table_label'))):
    # Append the text content of each td element to the 'age_range' list
    age_range.append(table.select('td.table_label')[i].get_text())

# Create a DataFrame from the 'age_range' list with column name 'age_range'
age_range = pd.DataFrame({"age_range": age_range})

# Clean the 'age_range' column by removing unwanted characters using regex
age_range.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
                  value = ["",""],
                  regex=True,
                  inplace=True)
values=[]

for i in range(len(table.select("td"))):
    values.append(table.select("td")[i].get_text())

# Create a DataFrame from the 'values' list with column name 'value'
values = pd.DataFrame({"value":values})

# Clean the 'value' column by removing unwanted characters using regex
values.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
               value=["",""],
               regex=True,
               inplace=True)

# Further clean the 'value' column by removing commas and empty values
values.replace(to_replace=[",", ""],
               value=["",""],
               regex=True,
               inplace=True)

# Extract specific rows from the 'values' DataFrame to get total population data
# value = the number of people for each specific range
tot_pop = values.loc[[9,16,23,30,37,44,51,58,65,72,79]]

# Add a new column 'perc' to 'tot_pop' DataFrame with corresponding values
# perc = the percentage in relation to the total population
tot_pop['perc'] = [2,3,6,6,7,12,16,16,12,10,9]

# Add a new column 'city' to 'tot_pop' DataFrame with the value 'paris'
tot_pop['city']='paris'

# Reset the index of 'tot_pop' DataFrame and drop the old index
tot_pop = tot_pop.reset_index()
tot_pop = tot_pop.drop('index', axis = 1)

# Combine 'age_range' and 'tot_pop' DataFrames with an inner join on common keys
population_paris = age_range.join(tot_pop, how = "inner")

# Add a new column 'city_iso' to 'population_paris' DataFrame with the value 'paris_FR'
population_paris['city_iso'] = 'paris_FR'

In [ ]:
population_paris.head()

And for Berlin

In [ ]:
url = "https://ugeo.urbistat.com/AdminStat/en/de/demografia/eta/berlin/11/2"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
# Find the HTML table with the class "table_result_light" and store it in 'table'
table = soup.select_one("table.table_result_light")

age_range = []

for i in range(len(table.select('td.table_label'))):
    # Append the text content of each td element to the 'age_range' list
    age_range.append(table.select('td.table_label')[i].get_text())

# Create a DataFrame from the 'age_range' list with column name 'age_range'
age_range = pd.DataFrame({"age_range": age_range})

# Clean the 'age_range' column by removing unwanted characters using regex
age_range.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
                  value = ["",""],
                  regex=True,
                  inplace=True)
values=[]

for i in range(len(table.select("td"))):
    values.append(table.select("td")[i].get_text())

# Create a DataFrame from the 'values' list with column name 'value'
values = pd.DataFrame({"value":values})

# Clean the 'value' column by removing unwanted characters using regex
values.replace(to_replace = [r"\\t|\\n|\\r", "\t|\n|\r"],
               value=["",""],
               regex=True,
               inplace=True)

# Further clean the 'value' column by removing commas and empty values
values.replace(to_replace=[",", ""],
               value=["",""],
               regex=True,
               inplace=True)

# Extract specific rows from the 'values' DataFrame to get total population data
# value = the number of people for each specific range
tot_pop = values.loc[[9,16,23,30,37,44,51,58,65,72,79]]

# Add a new column 'perc' to 'tot_pop' DataFrame with corresponding values
# perc = the percentage in relation to the total population,
tot_pop['perc'] = [2,3,6,6,7,12,16,16,12,10,9]

# Add a new column 'city' to 'tot_pop' DataFrame with the value 'berlin'
tot_pop['city'] = 'berlin'

# Reset the index of 'tot_pop' DataFrame and drop the old index
tot_pop = tot_pop.reset_index()
tot_pop = tot_pop.drop('index', axis = 1)

# Combine 'age_range' and 'tot_pop' DataFrames with an inner join on common keys
population_berlin = age_range.join(tot_pop, how = "inner")

# Add a new column 'city_iso' to 'population_berlin' DataFrame with the value 'berlin_ES'
population_berlin['city_iso'] = 'berlin_DE'

In [ ]:
population_berlin.head()

In [ ]:
population_cities = population_paris.append([population_berlin,population_barcelona]).reset_index()
population_cities = population_cities.drop('index', axis=1)
population_cities['value'] = population_cities['value'].astype(int)

In [ ]:
population_cities.head(50)

**Data with API**

In addition to collecting data using web scraping, we can use the API(Application programming interface) which is a software intermediary that allows two applications to talk to each other.

In our case we need data, they give us data. For the project, used two types of APIs: one to check the arrival flights in Berlin, Paris, and Barcelona and one to check the weather for the same cities.

In [ ]:
from IPython.display import JSON
import requests

API from the RapidAPI

In [ ]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/icao/EDDB"

querystring = {
    "withLeg": "true",
    "direction": "Arrival",
    "withCancelled": "true",
    "withCodeshared": "true",
    "withCargo": "true",
    "withPrivate": "true",
    "withLocation": "true"
}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
print(response.text)

In [ ]:
JSON(response.json())
flight_data = response.json()

In [ ]:
#identify airport name
flight_data['arrivals'][0]['departure']['airport']['name']
# identify arrival time
flight_data['arrivals'][0]['arrival']['scheduledTimeLocal']
#identify airline name
flight_data['arrivals'][0]['airline']['name']

In [ ]:
departure=[]
arrival_time=[]
airline=[]
for i in range(len(flight_data['arrivals'])):
    departure.append(flight_data['arrivals'][i]['departure']['airport']['name'])
    arrival_time.append(flight_data['arrivals'][i]['arrival']['scheduledTimeLocal'][10:-6])
    airline.append(flight_data['arrivals'][i]['airline']['name'])
#creation dataframe
flight_data_berlin=pd.DataFrame({'city':'berlin',
                                 'airport_departure':departure,
                                 'airline':airline,
                                 'arrival_time':arrival_time,
                                 'city_iso':'berlin_DE'})

Repeating the same process for Paris

In [ ]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/icao/LFPG"

querystring = {
    "withLeg": "true",
    "direction": "Arrival",
    "withCancelled": "true",
    "withCodeshared": "true",
    "withCargo": "true",
    "withPrivate": "true",
    "withLocation": "true"
}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)


JSON(response.json())
flight_data = response.json()


#identify airport name
flight_data['arrivals'][0]['departure']['airport']['name']
# identify arrival time
flight_data['arrivals'][0]['arrival']['scheduledTimeLocal']
#identify airline name
flight_data['arrivals'][0]['airline']['name']


departure=[]
arrival_time=[]
airline=[]

for i in range(len(flight_data['arrivals'])):
    departure.append(flight_data['arrivals'][i]['departure']['airport']['name'])
    arrival_time.append(flight_data['arrivals'][i]['arrival']['scheduledTimeLocal'][10:-6])
    airline.append(flight_data['arrivals'][i]['airline']['name'])
#creation dataframe
flight_data_paris=pd.DataFrame({'city':'paris',
                                 'airport_departure':departure,
                                 'airline':airline,
                                 'arrival_time':arrival_time,
                                 'city_iso':'paris_FR'})

The same for barcelona

In [ ]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/icao/LEBL"

querystring = {
    "withLeg": "true",
    "direction": "Arrival",
    "withCancelled": "true",
    "withCodeshared": "true",
    "withCargo": "true",
    "withPrivate": "true",
    "withLocation": "true"
}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)


JSON(response.json())
flight_data = response.json()


#identify airport name
flight_data['arrivals'][0]['departure']['airport']['name']
# identify arrival time
flight_data['arrivals'][0]['arrival']['scheduledTimeLocal']
#identify airline name
flight_data['arrivals'][0]['airline']['name']


departure=[]
arrival_time=[]
airline=[]

for i in range(len(flight_data['arrivals'])):
    departure.append(flight_data['arrivals'][i]['departure']['airport']['name'])
    arrival_time.append(flight_data['arrivals'][i]['arrival']['scheduledTimeLocal'][10:-6])
    airline.append(flight_data['arrivals'][i]['airline']['name'])
#creation dataframe
flight_data_barcelona=pd.DataFrame({'city':'barcelona',
                                 'airport_departure':departure,
                                 'airline':airline,
                                 'arrival_time':arrival_time,
                                 'city_iso':'barcelona_ES'})

For weather

Repeat all the processes for the Berlin, Paris and Barcelona

In [ ]:
import requests

url = "https://weatherapi-com.p.rapidapi.com/history.json"

querystring = {"q":"berlin,de,paris,fr,barcellona,sp","dt":"2023-09-06","lang":"en","end_dt":"2023-09-12"}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "weatherapi-com.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

#json
JSON(response.json())
weather_berlin=response.json()

#identify data
weather_berlin['list'][0]['main']['temp']
weather_berlin['list'][0]['weather'][0]['main']
weather_berlin['list'][0]['weather'][0]['description']
weather_berlin['list'][0]['dt_txt']

#create dataframe
day=[]
time=[]
weather=[]
description_weather=[]
temp=[]

for i in range(len(weather_berlin['list'])):
    time.append(weather_berlin['list'][i]['dt_txt'][10:-3])
    day.append(weather_berlin['list'][i]['dt_txt'][:10])
    weather.append(weather_berlin['list'][i]['weather'][0]['main'])
    description_weather.append(weather_berlin['list'][i]['weather'][0]['description'])
    temp.append(weather_berlin['list'][0]['main']['temp'])

weather_berlin_5_days = pd.DataFrame({'city':'berlin',
                                      'weather':weather,
																			'description':description_weather,
																			'time':time,'day':day,
																			'temp':temp,
																			'city_iso':'berlin_DE'})

Paris weather

In [ ]:
import requests

url = "https://weatherapi-com.p.rapidapi.com/history.json"

querystring = {"q":"berlin,de,paris,fr,barcellona,sp","dt":"2023-09-06","lang":"en","end_dt":"2023-09-12"}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "weatherapi-com.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

#json
JSON(response.json())
weather_paris=response.json()

#identify data
weather_paris['list'][0]['main']['temp']
weather_paris['list'][0]['weather'][0]['main']
weather_paris['list'][0]['weather'][0]['description']
weather_paris['list'][0]['dt_txt']

#create dataframe
day=[]
time=[]
weather=[]
description_weather=[]
temp=[]

for i in range(len(weather_paris['list'])):
    time.append(weather_paris['list'][i]['dt_txt'][10:-3])
    day.append(weather_paris['list'][i]['dt_txt'][:10])
    weather.append(weather_paris['list'][i]['weather'][0]['main'])
    description_weather.append(weather_paris['list'][i]['weather'][0]['description'])
    temp.append(weather_paris['list'][0]['main']['temp'])

weather_paris_5_days = pd.DataFrame({'city':'paris',
                                      'weather':weather,
																			'description':description_weather,
																			'time':time,'day':day,
																			'temp':temp,
																			'city_iso':'paris_FR'})

Barcelona weather

In [ ]:
import requests

url = "https://weatherapi-com.p.rapidapi.com/history.json"

querystring = {"q":"berlin,de,paris,fr,barcellona,sp","dt":"2023-09-06","lang":"en","end_dt":"2023-09-12"}

headers = {
	"X-RapidAPI-Key": "enter-the-key",
	"X-RapidAPI-Host": "weatherapi-com.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

#json
JSON(response.json())
weather_barcelona=response.json()

#identify data
weather_barcelona['list'][0]['main']['temp']
weather_barcelona['list'][0]['weather'][0]['main']
weather_barcelona['list'][0]['weather'][0]['description']
weather_barcelona['list'][0]['dt_txt']

#create dataframe
day=[]
time=[]
weather=[]
description_weather=[]
temp=[]

for i in range(len(weather_barcelona['list'])):
    time.append(weather_barcelona['list'][i]['dt_txt'][10:-3])
    day.append(weather_barcelona['list'][i]['dt_txt'][:10])
    weather.append(weather_barcelona['list'][i]['weather'][0]['main'])
    description_weather.append(weather_barcelona['list'][i]['weather'][0]['description'])
    temp.append(weather_barcelona['list'][0]['main']['temp'])

weather_barcelona_5_days = pd.DataFrame({'city':'barcelona',
                                      'weather':weather,
																			'description':description_weather,
																			'time':time,'day':day,
																			'temp':temp,
																			'city_iso':'barcelona_ES'})

After we can create a unique table for all three cities:

In [ ]:
weather_forecast_cities=weather_berlin_5_days.append([weather_paris_5_days,weather_barcelona_5_days]).reset_index()
weather_forecast_cities=weather_forecast_cities.drop('index', axis=1)

**Step two: create a database**

So far we only collect data and create dataframes. Now it’s time to create a database and run analysis on MySQL.

Open MySQL Workbench, choose local connection, and start writing SQL queries in order to create database. Remember to start with the main table and check if the column we want to use as PRIMARY KEY is also in the other tables and the values are unique to avoid errors. Another important element is the type of values in MYSQL have to be exactly the same in Python.

In [ ]:
CREATE TABLE IF NOT EXISTS cities(
city VARCHAR(255),
iso VARCHAR(3),
city_iso VARCHAR(255),
PRIMARY KEY(city_iso)
);

In this case, I used as a “main” table cities which is totally useless in terms of analysis, but crucial to connect all the tables.

As PRIMARY KEY used city_iso which will be the FOREIGN KEY for population, arrivals, and weather tables.

In [ ]:
CREATE DATABASE gans;
USE gans;

DROP TABLE IF EXISTS cities;
CREATE TABLE IF NOT EXISTS cities(
city VARCHAR(255),
iso VARCHAR(3),
city_iso VARCHAR(255),
PRIMARY KEY(city_iso)
);

DROP TABLE IF EXISTS weather_forecast_cities;
CREATE TABLE IF NOT EXISTS weather_forecast_cities(
weather_id INT AUTO_INCREMENT,
city VARCHAR(255),
weather VARCHAR(255),
description VARCHAR(255),
time VARCHAR(255),
day VARCHAR(255),
temp DECIMAL,
city_iso VARCHAR(255),
PRIMARY KEY(weather_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);

DROP TABLE IF EXISTS arrivals_cities;
CREATE TABLE IF NOT EXISTS arrivals_cities(
arrivals_id INT AUTO_INCREMENT,
city VARCHAR(255),
airport_departure VARCHAR(255),
airline VARCHAR(255),
arrival_time VARCHAR(255),
city_iso VARCHAR(255),
PRIMARY KEY(arrivals_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);

DROP TABLE IF EXISTS population_cities;
CREATE TABLE IF NOT EXISTS population_cities(
population_id INT AUTO_INCREMENT,
age_range VARCHAR(255),
value INTEGER,
perc INTEGER,
city VARCHAR(255),
city_iso VARCHAR(255),
PRIMARY KEY(population_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);

Running SELECT * FROM cities; notice that the tables are empty.

Come back to the JupyterNotebook and connect Python to MySQL database.

Before, created the connection with local:

In [ ]:
schema="gans"
host= host
user= root
password= password
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

then run this code to fill the tables:

In [ ]:
cities.to_sql('cities', if_exists='append', con=con, index=False)

and, in the end, this code to check if works:

In [ ]:
pd.read_sql(
    sql = """
        select * from cities
    """,
    con = con
)

replicate the process for the other tables:

In [ ]:
weather_forecast_cities.to_sql('weather_forecast_cities', if_exists='append', con=con, index=False)
arrivals_cities.to_sql('arrivals_cities', if_exists='append', con=con, index=False)
population_cities.to_sql('population_cities', if_exists='append', con=con, index=False)

if you need a MySQL database filled with your data in Python on the cloud and not on your local machine, we need to do the next steps:

We can use AWS(Amazon Web Service) but there are other options like Microsoft Azure and Google Cloud Platform.

First of all, create an AWS account, set up an Amazon RDS( Relational Database Service) MySQL Instance, and finally have our AWS connection in MySQL Workbench. To create the database, follow the same process as to create the database on the local machine:

In [ ]:
CREATE DATABASE gans;
USE gans;
DROP TABLE IF EXISTS cities;
CREATE TABLE IF NOT EXISTS cities(
city VARCHAR(255),
iso VARCHAR(3),
city_iso VARCHAR(255),
PRIMARY KEY(city_iso)
);
DROP TABLE IF EXISTS weather_forecast_cities;
CREATE TABLE IF NOT EXISTS weather_forecast_cities(
weather_id INT AUTO_INCREMENT,
city VARCHAR(255),
weather VARCHAR(255),
description VARCHAR(255),
time VARCHAR(255),
day VARCHAR(255),
temp DECIMAL,
city_iso VARCHAR(255),
PRIMARY KEY(weather_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);
DROP TABLE IF EXISTS arrivals_cities;
CREATE TABLE IF NOT EXISTS arrivals_cities(
arrivals_id INT AUTO_INCREMENT,
city VARCHAR(255),
airport_departure VARCHAR(255),
airline VARCHAR(255),
arrival_time VARCHAR(255),
city_iso VARCHAR(255),
PRIMARY KEY(arrivals_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);
DROP TABLE IF EXISTS population_cities;
CREATE TABLE IF NOT EXISTS population_cities(
population_id INT AUTO_INCREMENT,
age_range VARCHAR(255),
value INTEGER,
perc INTEGER,
city VARCHAR(255),
city_iso VARCHAR(255),
PRIMARY KEY(population_id),
FOREIGN KEY(city_iso) REFERENCES cities(city_iso)
);

To move the script into the cloud we need a Lambda function(that it’s different from lambda in Python).

Before creating the Lambda function, we will create a “Role”. This role will allow our Lambda function to connect to our RDS instance.

## 1. Create a role
Follow the steps below to create the role that will allow your Lambda function to connect to any service.
1. Sign in to your AWS console.
2. On the search bar at the top, search for "IAM" and click on it.
3. On the left side menu, click on "Roles"
4. Click on "Create role"
5. Select "AWS service" as the type of trusted entity.
6. Select "Lambda" as the use case.
7. Click on "Next: permissions"
8. Tick the box of the policy "AdministratorAccess"
9. Click on "Next: Tags".
10. Click on "Next: Review"
11. Set "LambdaAdminAccess as the role name.
12. Click on "Create role

## 2. Create a Lambda function.
Now it's time to get some Lambda functions done. Follow these steps to create a test function:
1.    Sign in to your AWS console.
2.    Go to Services > Lambda.
3.    Click on "Create function".
4.    Select "Author from scratch"
5.    Give your function a name you can recognize. Since we are just testing, we recommend something like "wbs-test".
6.    On Runtime, select "Python 3.8"
7.    On "Permissions", click on "Change default execution role", tick "Use an existing role and select the "LambdaAdminAccess" role we just created.
8.    Click on "Create function".

Unless for Python, we cannot just install our packages using pip install, import the libraries, and write the code but we need to create the “Layers”, since in our case, the Lambda function it’s like an empty box that we have to fill.

The layers can be created in three ways:

1. Using the official AWS Data Wrangler following steps
2. Uploading pre-compiled packages with KLayers
3. Compiling the layers locally and uploading them manually

Come back to the lambda function and import what you need as:

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pyown
import pymysql.cursors
import mysql.connector
import sqlalchemy
import pymysql

Our first **lambda function** will be the “lambda_handler” since it’s the trigger for the next functions:

In [ ]:
def lambda_handler(event, context):
    schema="gans"
    host=host
    user= user
    password=password
    port=3306
    con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
    cities data
    city=['berlin','paris','barcelona']
    iso=['DE','FR','ES']
    city_iso=['berlin_DE', 'paris_FR', 'barcelona_ES']
    cities=pd.DataFrame({'city':city,
                         'iso':iso,
                         'city_iso':city_iso})
    cities.to_sql('cities', if_exists='append', con=con, index=False)

Then define the other functions to call them and fill population_cities, arrivals_cities, weather_forecast_cities:

In [ ]:
def population(event, context):
    schema="gans"
    host=host
    user=user
    password=password
    port=3306

    con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
    url = "https://ugeo.urbistat.com/AdminStat/en/es/demografia/eta/barcelona/8/3" #population barcelona
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, "html.parser")
    table = soup.select_one("table.table_result_light")

    age_range = []
    for i in range(len(table.select("td.table_label"))):
        age_range.append(table.select("td.table_label")[i].get_text())
    age_range = pd.DataFrame({"age_range": age_range})
    age_range.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )

   values = []
    for i in range(len(table.select("td"))):
        values.append(table.select("td")[i].get_text())

    values = pd.DataFrame({"value": values})
    values.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )
    values.replace(to_replace=[",", ""], value=["", ""], regex=True, inplace=True)
    tot_pop = values.loc[[9, 16, 23, 30, 37, 44, 51, 58, 65, 72, 79]]
    tot_pop["perc"] = [2, 3, 6, 6, 7, 12, 16, 16, 12, 10, 9]
    tot_pop["city"] = "barcelona"
    tot_pop = tot_pop.reset_index()
    tot_pop = tot_pop.drop("index", axis=1)

    population_barcelona = age_range.join(tot_pop, how="inner")
    population_barcelona["city_iso"] = "barcelona_ES"


    url = "https://ugeo.urbistat.com/AdminStat/en/de/demografia/eta/berlin/11/3" #population berlin
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, "html.parser")
    table = soup.select_one("table.table_result_light")

    age_range = []
    for i in range(len(table.select("td.table_label"))):
        age_range.append(table.select("td.table_label")[i].get_text())
    age_range = pd.DataFrame({"age_range": age_range})
    age_range.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )

    values = []
    for i in range(len(table.select("td"))):
        values.append(table.select("td")[i].get_text())

    values = pd.DataFrame({"value": values})
    values.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )
    values.replace(to_replace=[",", ""], value=["", ""], regex=True, inplace=True)
    tot_pop = values.loc[[9, 16, 23, 30, 37, 44, 51, 58, 65, 72, 79]]
    tot_pop["perc"] = [2, 3, 6, 6, 7, 12, 16, 16, 12, 10, 9]
    tot_pop["city"] = "berlin"
    tot_pop = tot_pop.reset_index()
    tot_pop = tot_pop.drop("index", axis=1)

    population_berlin=age_range.join(tot_pop, how="inner")
    population_berlin['city_iso']= 'berlin_DE'


    url = "https://ugeo.urbistat.com/AdminStat/en/fr/demografia/eta/paris/75/3" #population paris
    response = requests.get(url)
    response.status_code
    soup = BeautifulSoup(response.content, "html.parser")
    table = soup.select_one("table.table_result_light")

    age_range = []
    for i in range(len(table.select("td.table_label"))):
        age_range.append(table.select("td.table_label")[i].get_text())
    age_range = pd.DataFrame({"age_range": age_range})
    age_range.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )

    values = []
    for i in range(len(table.select("td"))):
        values.append(table.select("td")[i].get_text())
    values = pd.DataFrame({"value": values})
    values.replace(
        to_replace=[r"\t|\n|\r", "\t|\n|\r"], value=["", ""], regex=True, inplace=True
    )
    values.replace(to_replace=[",", ""], value=["", ""], regex=True, inplace=True)

    tot_pop = values.loc[[9, 16, 23, 30, 37, 44, 51, 58, 65, 72, 79]]
    tot_pop["perc"] = [2, 3, 6, 6, 7, 12, 16, 16, 12, 10, 9]
    tot_pop["city"] = "paris"
    tot_pop = tot_pop.reset_index()
    tot_pop = tot_pop.drop("index", axis=1)

    population_paris=age_range.join(tot_pop, how="inner")
    population_paris['city_iso']= 'paris_FR'

    population_cities=population_paris.append([population_berlin,population_barcelona]).reset_index() #population cities
    population_cities=population_cities.drop('index', axis=1)

    population_cities['value']=population_cities['value'].astype(int)
    population_cities.to_sql('population_cities', if_exists='append', con=con, index=False) #population cities table

Tips to avoid errors:

Set time runout at 15 minutes
Make sure you have all you need on the layers
Check if your code is indented well
Delete everything don’t need in your code